{% extends 'base.html' %} {% block head %}
<title>TuneTagger</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="container">
  <h1 id="title">Welcome to TuneTagger!</h1>
  <h2>For music fans to oraganize their library by moods, not genres</h2>
  <div class="section">
    <h4>Would you like to add a song to your library?</h4>
    <form action="{{url_for('index')}}" method="post">
      <label for="title-to-insert">Enter song title</label>
      <input type="text" name="title-to-insert" id="title-to-insert" />
      <label for="artist-to-insert">Enter artist</label>
      <input type="text" name="artist-to-insert" id="artist-to-insert" />
      <input type="submit" id="submit-insertion" value="Submit" />
    </form>
    <button id="show-library-button" onclick="showLibrary()">
      See your current library!
    </button>
    <div class="library-output" class="library-table"></div>
  </div>
</div>

<script>
  const libraryData = `{{ library_data|safe }}`;
  function showLibrary() {
    const libraryOutput = document.getElementById("library-output");
    if (!libraryOutput.innerHTML.trim()) {
      libraryOutput.innerHTML = libraryData;
    }
    if (
      libraryOutput.style.display === "none" ||
      libraryOutput.style.display === ""
    ) {
      libraryOutput.style.display = "block";
    } else {
      libraryOutput.style.display = "none";
    }
  }
</script>
{% endblock %}
